@model ImportProducts.Models.Sezoone.Product

@{
    ViewBag.Title = "DetailVProducts";
}

<h2>DetailVProducts</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Image)*@
            <img src=@Model.Image>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditVProducts", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "VProducts")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}