@model List<ImportProducts.Models.Sezoone.Product>

@{
    ViewBag.Title = "VProducts";
}

<h2>VProducts</h2>
<div>@Html.ActionLink("Export data to XML","ExportXML")</div> 
<p></p>

@using (Html.BeginForm("ImportXML", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="xmlFile" />
    <p></p>
    <input type="submit" value="Import XML" />
}
<p></p>
<p></p>
   @using (Html.BeginForm("ImportJSON", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
   {
    <input type="file" name="jsonFile" />
    <p></p>
    <input type="submit" value="Import JSON" />
   }
<p></p>

<p>
    @Html.ActionLink("Create New", "CreateVProducts")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.IdProd)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Prise)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Currency)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Image)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            <img src=@item.Image>
           </td>
        <td>
            @Html.ActionLink("Edit", "EditVProducts", new { id = item.Id }) |
            @Html.ActionLink("Details", "DetailVProducts", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteVProducts", new { id = item.Id })
        </td>
    </tr>
}

</table>
